{% extends "base_admin.html" %}
{% load bootstrap3 %}

{% block title %} Editar Detalle de Habitación {% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
			<h3>Editar Detalle</h3>
        </div>

        <!-- Presentación de mensajes  -->
        {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>¡{{ message.tags|upper }}!</strong> {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success">{% bootstrap_icon "floppy-disk" %} Guardar</button>
        </form>

    </div>
{% endblock %}