<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<title>{% block title %} Base {% endblock %}</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
		<!--theme-style-->
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta property="og:title" content="Vide" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Best Hotel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!---->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!---->
		<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
		<link href='//fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
		<!---strat-date-piker---->
		<!-- requried-jsfiles-for owl -->
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<script src="{% static 'js/owl.carousel.js' %}"></script>
		<script>
			$(document).ready(function() {
				$("#owl-demo").owlCarousel({
				items : 1,
				lazyLoad : true,
				autoPlay : true,
				navigation : false,
				navigationText :  false,
				pagination : true,
				});
			});
		</script>
		<!-- //requried-jsfiles-for owl -->

	</head>
<body>

	{% block sliders %}
		<div hidden>Carrusel de imágenes</div>
	{% endblock %}

	{% block navbar %}
		<div class="header">
			<div class="container">
				<div class="header-menu">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div class="navbar-brand logo">
									<h1><a href="{% url 'home:inicio' %}"><span>Hotel Bracamoros</span></a></h1>
								</div>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li id="men_inicio"><a href="{% url 'home:inicio' %}" data-hover="Home"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
								<li id="men_hotel"><a href="{% url 'home:nuestro_hotel' %}" data-hover="About"><span class="glyphicon glyphicon-tag"></span> Nuestro Hotel</a></li>
								<li id="men_galeria"><a data-hover="Gallery" href="{% url 'home:galeria' %}"><span class="glyphicon glyphicon-picture"></span> Galería</a></li>
								<li id="men_habitacion"><a data-hover="Rooms" href="{% url 'home:elegir_hab' %}"><span class="glyphicon glyphicon-bed"></span> Habitaciones</a></li>
								<li id="men_contacto"><a data-hover="Contact" href="{% url 'home:contacto' %}"><span class="glyphicon glyphicon-earphone"></span> Contacto</a></li>
								{% if user.is_authenticated %}
									<li><a  href="{% url 'home_admin:control_panel' %}" data-hover="codes"><span class="glyphicon glyphicon-wrench"></span> Administración</a></li>
								{% else %}
									<li id="men_login"><a  href="{% url 'login' %}" data-hover="codes"><span class="glyphicon glyphicon-user"></span> Iniciar sesión</a></li>
								{% endif %}
								
							</ul>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
				<div class="clearfix"></div>
				</div>	
			</div> 
		</div>
	{% endblock %}
	
	{% block content %}
		<div hidden>Contenido de nuestra página</div>
	{% endblock %}

	{% block footer %}
		<div hidden>Pie de la página</div>	
	{% endblock %}
		
	{% block social_networks %}
		{% include 'social_networks.html' %}
	{% endblock %}

</body>
</html>
