{% extends "base.html" %}
{% load static %}

{% block title %} Contacto {% endblock %}

{% block sliders %}
	<link href="{% static 'css/galleryeffect.css' %}" rel="stylesheet" type="text/css" media="all" />	
	<div class="banner">
	</div>
{% endblock %}

{% block content %}
	<div class="content">
		<!---contact--->
		<div class="contact">
			<div class="container">
				<h2 class="tittle">¿Cómo encontrarnos?</h2>
				<div class="contact-bottom">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3976.682286128526!2d-79.1323159!3d-4.6506369!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cab8a2eaaaaaab%3A0xe2dd2829ccd4b8d8!2sHotel%20Bracamoros!5e0!3m2!1ses!2sec!4v1601755915622!5m2!1ses!2sec" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
				<div class="col-md-4 contact-left">
					<h4>Address</h4>
					<p>Est eligendi optio cumque nihil impedit quo minus id quod maxime
						<span>26 56D Rescue,US</span></p>
					<ul>
						<li>Free Phone :+1 078 4589 2456</li>
						<li>Telephone :+1 078 4589 2456</li>
						<li>Fax :+1 078 4589 2456</li>
						<li><a href="mailto:info@example.com">info@example.com</a></li>
					</ul>
				</div>
				<div class="col-md-8 contact-left cont">
					<h4>Contact Form</h4>
					<form action="#" method="post">
						<input type="text" name="Name" value="Name" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Name';}" required="">
						<input type="email" name="Email" value="Email" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Email';}" required="">
						<input type="text" name="Phone" value="Phone" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Phone';}" required="">
						<textarea type="text" name="Message" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
						<input type="submit" value="Submit">
						<input type="reset" value="Clear">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	
	<script>
		$(function () {
			$('#men_contacto').attr('class','active');
        });
	</script>
{% endblock %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock %}