{% extends "base.html" %}
{% load static %}

{% block title %} Hotel Bracamoros {% endblock %}

{% block sliders %}
	<link href="{% static 'css/galleryeffect.css' %}" rel="stylesheet" type="text/css" media="all" />	
	<div class="banner">
	</div>
{% endblock %}

{% block content %}
	<div class="content">
		<!-- gallery -->
		<div class="gallery">
			<div class="container">
				<h2 class="tittle">Galería</h2>
				<div class="gal-btm">
					<div class="col-md-4 gal-gd wow fadeInLeft animated" data-wow-delay=".5s">
						<a href="#image-1">
							<div class="nd-wrap nd-style-8">
								<img src="{% static 'images/ga.jpg' %}" class="img-responsive" alt=" " />
								<div class="nd-content">
									<div class="nd-content_inner">
										<div class="nd-content_inner1">
											<h4 class="nd-title">Gallery</h4>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-link"></i>
											</span>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-search"></i>
											</span>

										</div>
									</div>
								</div>
							</div>
						</a>


					</div>
					<div class="col-md-4 gal-gd wow fadeInUp animated" data-wow-delay=".5s">
						<a href="#image-2">
							<div class="nd-wrap nd-style-8">
								<img src="images/ga1.jpg" class="img-responsive" alt=" " />
								<div class="nd-content">
									<div class="nd-content_inner">
										<div class="nd-content_inner1">
											<h4 class="nd-title">Gallery</h4>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-link"></i>
											</span>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-search"></i>
											</span>

										</div>
									</div>
								</div>
							</div>
						</a>


					</div>
					<div class="col-md-4 gal-gd wow fadeInRight animated" data-wow-delay=".5s">
						<a href="#image-3">
							<div class="nd-wrap nd-style-8">
								<img src="images/ga2.jpg" class="img-responsive" alt=" " />
								<div class="nd-content">
									<div class="nd-content_inner">
										<div class="nd-content_inner1">
											<h4 class="nd-title">Gallery</h4>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-link"></i>
											</span>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-search"></i>
											</span>

										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 gal-gd-sec wow fadeInLeft animated" data-wow-delay=".5s">
						<a href="#image-4">
							<div class="nd-wrap nd-style-8">
								<img src="images/ga3.jpg" class="img-responsive" alt=" " />
								<div class="nd-content">
									<div class="nd-content_inner">
										<div class="nd-content_inner1">
											<h4 class="nd-title">Gallery</h4>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-link"></i>
											</span>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-search"></i>
											</span>

										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 gal-gd-sec wow fadeInRight animated" data-wow-delay=".5s">
						<a href="#image-5">
							<div class="nd-wrap nd-style-8">
								<img src="images/ga4.jpg" class="img-responsive" alt=" " />
								<div class="nd-content">
									<div class="nd-content_inner">
										<div class="nd-content_inner1">
											<h4 class="nd-title">Gallery</h4>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-link"></i>
											</span>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-search"></i>
											</span>

										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4 gal-gd wow fadeInLeft animated" data-wow-delay=".5s">
						<a href="#image-6">
							<div class="nd-wrap nd-style-8">
								<img src="images/ga5.jpg" class="img-responsive" alt=" " />
								<div class="nd-content">
									<div class="nd-content_inner">
										<div class="nd-content_inner1">
											<h4 class="nd-title">Gallery</h4>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-link"></i>
											</span>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-search"></i>
											</span>

										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4 gal-gd wow fadeInDown animated" data-wow-delay=".5s">
						<a href="#image-7">
							<div class="nd-wrap nd-style-8">
								<img src="images/ga6.jpg" class="img-responsive" alt=" " />
								<div class="nd-content">
									<div class="nd-content_inner">
										<div class="nd-content_inner1">
											<h4 class="nd-title">Gallery</h4>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-link"></i>
											</span>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-search"></i>
											</span>

										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-4 gal-gd wow fadeInRight animated" data-wow-delay=".5s">
						<a href="#image-8">
							<div class="nd-wrap nd-style-8">
								<img src="images/ga7.jpg" class="img-responsive" alt=" " />
								<div class="nd-content">
									<div class="nd-content_inner">
										<div class="nd-content_inner1">
											<h4 class="nd-title">Gallery</h4>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-link"></i>
											</span>
											<span class="nd-icon">
												<i class="glyphicon glyphicon-search"></i>
											</span>

										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //gallery -->
		<div class="lb-overlay" id="image-1">
			<img src="images/ga.jpg" alt="image1" />
			<div class="gal-info">
				<h3>Gallery</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum
					quia dolor sit amet, consectetur, adipisci velit,
					sed quia non numquam eius modi tempora incidunt ut
					labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>
			<a href="gallery.html" class="lb-close">Close</a>
		</div>
		<div class="lb-overlay" id="image-2">
			<img src="images/ga1.jpg" alt="image1" />
			<div class="gal-info">
				<h3>Gallery</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum
					quia dolor sit amet, consectetur, adipisci velit,
					sed quia non numquam eius modi tempora incidunt ut
					labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>
			<a href="gallery.html" class="lb-close">Close</a>
		</div>
		<div class="lb-overlay" id="image-3">
			<img src="images/ga2.jpg" alt="image1" />
			<div class="gal-info">
				<h3>Gallery</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum
					quia dolor sit amet, consectetur, adipisci velit,
					sed quia non numquam eius modi tempora incidunt ut
					labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>
			<a href="gallery.html" class="lb-close">Close</a>
		</div>
		<div class="lb-overlay" id="image-4">
			<img src="images/ga3.jpg" alt="image1" />
			<div class="gal-info">
				<h3>Gallery</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum
					quia dolor sit amet, consectetur, adipisci velit,
					sed quia non numquam eius modi tempora incidunt ut
					labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>
			<a href="gallery.html" class="lb-close">Close</a>
		</div>
		<div class="lb-overlay" id="image-5">
			<img src="images/ga4.jpg" alt="image1" />
			<div class="gal-info">
				<h3>Gallery</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum
					quia dolor sit amet, consectetur, adipisci velit,
					sed quia non numquam eius modi tempora incidunt ut
					labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>
			<a href="gallery.html" class="lb-close">Close</a>
		</div>
		<div class="lb-overlay" id="image-6">
			<img src="images/ga5.jpg" alt="image1" />
			<div class="gal-info">
				<h3>Gallery</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum
					quia dolor sit amet, consectetur, adipisci velit,
					sed quia non numquam eius modi tempora incidunt ut
					labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>
			<a href="gallery.html" class="lb-close">Close</a>
		</div>
		<div class="lb-overlay" id="image-7">
			<img src="images/ga6.jpg" alt="image1" />
			<div class="gal-info">
				<h3>Gallery</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum
					quia dolor sit amet, consectetur, adipisci velit,
					sed quia non numquam eius modi tempora incidunt ut
					labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>
			<a href="gallery.html" class="lb-close">Close</a>
		</div>
		<div class="lb-overlay" id="image-8">
			<img src="images/ga7.jpg" alt="image1" />
			<div class="gal-info">
				<h3>Gallery</h3>
				<p>Neque porro quisquam est, qui dolorem ipsum
					quia dolor sit amet, consectetur, adipisci velit,
					sed quia non numquam eius modi tempora incidunt ut
					labore et dolore magnam aliquam quaerat voluptatem.</p>
			</div>
			<a href="gallery.html" class="lb-close">Close</a>
		</div>


	</div>
{% endblock %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock %}
