{% extends "base.html" %}
{% load static %}

{% block title %} Hotel Bracamoros {% endblock %}

{% block sliders %}
	<div class="banner-section">
		<section class="slider">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<div class="slider-info">
							<img src="{% static 'images/ba1.jpg' %}" class="img-responsive" alt="">
						</div>
						<div class="container">
							<div class="banner-text">
								<h3>Outdoor & Indoor Luxury</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<img src="{% static 'images/ba2.jpg' %}" class="img-responsive" alt="">
						</div>
						<div class="container">
							<div class="banner-text">
								<h3>Luxury & Oriental Harmony</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<img src="{% static 'images/ba3.jpg' %}" class="img-responsive" alt="">
						</div>
						<div class="container">
							<div class="banner-text">
								<h3>A Brand New Hotel</h3>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<!-- FlexSlider -->
		<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script type="text/javascript">
			$(window).load(function () {
				$('.flexslider').flexslider({
					animation: "slide",
					start: function (slider) {
						$('body').removeClass('loading');
					}
				});
			});
		</script>
		<!-- FlexSlider -->
		<!-- slider -->
	</div>
{% endblock %}

{% block content %}
	<div class="content">
		<!---welcome--->
		<div class="welcome">
			<div class="container">
				<h2 class="tittle">Bienvenido a Nuestro Hotel</h2>
					<p class="wel text">Nuestras habitaciones están diseñadas pensando en la comodidad y la conveniencia. Disfrute de un ambiente relajante en este hotel ubicado en Palanda, Zamora Chinchipe, Ecuador. Para relajarse o ponerse al día con el trabajo. Explore los distintos tipos de habitaciones.</p>
				<div class="wel-grids">
					{% for hab in habitaciones %}
						<div class="col-md-3 wel-grid">
							<img src="{{ hab.foto.url }}" class="img-responsive gray" alt=""/>
							<h4>{{ hab.tipo }}</h4>
						</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!---welcome--->

		<div class="resort-section">
			<div class="container">
				<h3 class="tittle">Resort latest <span>deals</span></h3>
				<div class="resort-grids">
			<!-- start content_slider -->
					<div id="owl-demo" class="owl-carousel">
						<div class="item">
						<div class="col-md-6 cap-img">
								<img src="images/p.jpg" class="img-responsive gray" alt=""/>
							</div>
							<div class="col-md-6 cap">
								<h4>Surrounded By Custom Designed</h4>	
								<ul class="cap1">
									<li><i class="glyphicon glyphicon-map-marker"></i> 33 Street Name, City Name United States</li>
									<li><i class="glyphicon glyphicon-plane"></i> US Airlines</li>
									<li><i class="glyphicon glyphicon-road"></i> Free Transport</li>
								</ul>										
								<p>Duis at ante nec neque rhoncus pretium. Ut placerat euismod nibh industry's stand orci donec mollis, est non scelerisque blandit, velit nunc laoreet dol scrambled it to augue non elit aliquam in vehicula sem phasellu  consectetur adipiscing elit donec porttitor lectus at neque sollicitudin.</p>
								<div class="detais">
									<div class="col-md-9 deatils-left">
										<div class="list">
											<ul>
												<li><i class="glyphicon glyphicon-thumbs-up"></i> Free Private Parking is Available</li>
												<li><i class="glyphicon glyphicon-cutlery"></i> In Room Dining is Available 09:00 P.M. - 12:09 P.M.</li>
												<li><i class="glyphicon glyphicon-signal"></i> Free High Speed Wi-Fi Internet in Room</li>
											</ul>
										</div>
									</div>
									<div class="col-md-3 deatils-right">
										<div class="detail-top">
											<span>PER NIGHT</span>
											<h4>$45</h4>
										</div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="item">
							<div class="col-md-6 cap-img">
								<img src="images/p1.jpg" class="img-responsive gray" alt=""/>
							</div>
							<div class="col-md-6 cap">
								<h4>Free High Speed Wi-Fi Internet in Room</h4>
								<ul class="cap1">
									<li><i class="glyphicon glyphicon-map-marker"></i> 33 Street Name, City Name United States</li>
									<li><i class="glyphicon glyphicon-plane"></i> US Airlines</li>
									<li><i class="glyphicon glyphicon-road"></i> Free Transport</li>
								</ul>		
								<p>Duis at ante nec neque rhoncus pretium. Ut placerat euismod nibh industry's stand orci donec mollis, est non scelerisque blandit, velit nunc laoreet dol scrambled it to augue non elit aliquam in vehicula sem phasellu  consectetur adipiscing elit donec porttitor lectus at neque sollicitudin.</p>
								<div class="detais">
									<div class="col-md-9 deatils-left">
										<div class="list">
											<ul>
												<li><i class="glyphicon glyphicon-thumbs-up"></i> Free Private Parking is Available</li>
												<li><i class="glyphicon glyphicon-cutlery"></i> In Room Dining is Available 09:00 P.M. - 12:09 P.M.</li>
												<li><i class="glyphicon glyphicon-signal"></i> Free High Speed Wi-Fi Internet in Room</li>
											</ul>
										</div>
									</div>
									<div class="col-md-3 deatils-right">
										<div class="detail-top">
											<span>PER NIGHT</span>
											<h4>$45</h4>
										</div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="item">
						<div class="col-md-6 cap-img">
								<img src="images/p2.jpg" class="img-responsive gray" alt=""/>
							</div>
							<div class="col-md-6 cap">
								<h4>Surrounded By Custom Designed</h4>	
								<ul class="cap1">
									<li><i class="glyphicon glyphicon-map-marker"></i> 33 Street Name, City Name United States</li>
									<li><i class="glyphicon glyphicon-plane"></i> US Airlines</li>
									<li><i class="glyphicon glyphicon-road"></i> Free Transport</li>
								</ul>										
								<p>Duis at ante nec neque rhoncus pretium. Ut placerat euismod nibh industry's stand orci donec mollis, est non scelerisque blandit, velit nunc laoreet dol scrambled it to augue non elit aliquam in vehicula sem phasellu  consectetur adipiscing elit donec porttitor lectus at neque sollicitudin.</p>
								<div class="detais">
									<div class="col-md-9 deatils-left">
										<div class="list">
											<ul>
												<li><i class="glyphicon glyphicon-thumbs-up"></i> Free Private Parking is Available</li>
												<li><i class="glyphicon glyphicon-cutlery"></i> In Room Dining is Available 09:00 P.M.-12:09 P.M.</li>
												<li><i class="glyphicon glyphicon-signal"></i> Free High Speed Wi-Fi Internet in Room</li>
											</ul>
										</div>
									</div>
									<div class="col-md-3 deatils-right">
										<div class="detail-top">
											<span>PER NIGHT</span>
											<h4>$45</h4>
										</div>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>	
					</div>
				</div>
			</div>
		</div>

	</div>
	<script>
		$(function () {
			console.log("asda");
			$('#men_inicio').attr('class','active');
        });
	</script>
{% endblock %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock %}