<div class="copy-section">
    <div class="container">
        <div class="footer-top">
            <p>&copy; 2016 Best Hotel. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/HOTEL-BRACAMOROS-225126797497746/"><i class="icon"></i></a>
            <a href="#"><i class="icon1"></i></a>
            <a href="#"><i class="icon2"></i></a>
            <a href="#"><i class="icon3"></i></a>
        </div>
    </div>
</div>